/* 1025px */
@media (max-width: 1025px) {}

/* 975px */
@media (max-width: 975px) {
  .header .container .menu {
    display: none;
  }

  .header .container .burger {
    display: block;
  }

  .hero .right {
    display: none;
  }

  .hero .left {
    max-width: 100%;
    background: 
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(../images/hero-img.png) no-repeat center / cover;
    /* position: relative; */
  }

  /* .hero .left::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
  } */

  .hero .left .uptitle,
  .hero .left .title,
  .hero .left .subtitle{
    color: white;
    /* position: relative; */
    /* z-index: 5; */
  }
  
  .hero .left .btn {
    background: #000;
    color: white;
  }
}

/* 770px */
@media (max-width: 770px) {
  .hero .left {
    padding: 45px;
  }

  .hero .left .uptitle {
    font-size: 13px;
  }

  .hero .left .title {
    font-size: 45px;
    margin: 15px 0;
  }

  .hero .left .subtitle {
    font-size: 15px;
  }
}

/* 525px */
@media (max-width: 525px) {}

/* 430px */
@media (max-width: 430px) {
  .hero .left {
    padding: 40px 15px;
  }
}

/* 375px */
@media (max-width: 375px) {}